################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GpGpuViaCs/v15
/ImageProcessor/obj/Debug
/packages
/ImageProcessor/bin/Debug
/ImageProcessor/bin/Release
/ImageProcessor/obj/Release
/Images/Result
/SequenceProcessor/bin/Release
/SequenceProcessor/obj/Release
/.vs/GpGpuViaCs-2018/v15
/.vs
