################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GpGpuViaCs/v15
/ImageProcessor/obj/Debug
